.main {
    width: 300px;
    padding: 1px;
}

.img {
    height: 200px;
    margin: 10px;
}

.para1 {
    margin: 10px;
}

.heading {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: Roboto;
    color: #183b56;
}

.para2 {
    text-align: center;
    font-family: roboto;
}

.button {
    margin: 10px;
    font-size: 14px;
    font-family: Roboto;
    padding: 10px;
}

.img2 {
    height: 200px;
    margin: 10px;
}

.h2 {
    padding-top: 16px;
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

.para3 {
    font-size: 15px;
}

.num {
    font-size: 18px;
    margin-left: 70px;
    color: #183b56;
    text-align: center;
    font-weight: bold;
    font-family: roboto;
}

.p {
    font-size: 15px;
    margin-left: 70px;
    text-align: center;
    color: #5a7184;
    font-family: roboto;
}

.button2 {
    font-size: 13px;
    font-family: Roboto;
    padding: 09px;
}
